=> Link zu PHP Blog von Terry
https://training.bytekultur.net/WDD920/blog/

=> Link zu PHP Training von Terry
https://training.bytekultur.net/
Benutzername: WDD920
PW: jP7a4H$2Ea
Classroom > Unterrichtsmaterial