ErrorDocument 404 /error404.html


<IfModule mod_rewrite.c>
RewriteEngine: On
RewriteCond %{SCRIPT_FILENAME} !-d              (Kondition: Wenn der Server denkt, die Direction existiert nicht)
RewriteCond %{SCRIPT_FILENAME} !-f              (Kondition: Wenn der Server denkt, das File existiert nicht)
RewriteRule ^(.*)$ ./index.php?q=$1 [L,QSA]     (Files oder Direction existiert nicht?)
</IfModule>

