/* === Small CSS Reset === */
*{
  margin: 0;
  padding: 0;
}
*, *::after, *::before{
  box-sizing: border-box;
}


header {
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
}

label {
  display: block;
  font: 1.3rem 'Fira Sans', sans-serif;
  color: white;
  margin-bottom: 5px;
}

.labelbox {
  margin-left: 30px;
}

input[type='submit'],
label {
  margin-top: 1rem;
}

input#password , input#username {
  width: 430px;
  height: 30px;
  border-radius: 5px;
  border: 2px solid white;
}

form {
  margin: 100px auto;
  background: linear-gradient(45deg, #c96868, #9198e5);
  width: 500px;
  height: 300px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

}

.buttonbox {
  display: flex;
  justify-content: center;
}

#button {
  width: 100px;
  height: 30px;
  border-radius: 5px;
  font: 1rem 'Fira Sans', sans-serif;
  color: black;
  background: rgb(255, 255, 255);
  border: 1px solid white;
  transition: all 300ms;
}

#button:hover {
  background: linear-gradient(#813174, #252c7c);
  color: white;
  transform: scale(1.1);
}

.errormessages {
  margin-top: 10px;
  width: 100%;
  height: 50px;
  text-align: center;
  font: 0.9rem 'Fira Sans', sans-serif;
  line-height: 25px;
  color: red;
}